@import url(./global.css);

.content {
    background-color: #FFF;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
}

.top {
    padding: 0;
    height: 480px;
    border-radius: 2rem;
}

.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 3fr;
}

.pokemon {
    margin: 0.5rem 0;
    padding: 0.8rem 0.5rem;
    border-radius: 1rem;
    color: #FFF;
    display: flex;
    flex-direction: column;
    min-width: 120px;
}

.pokemon .number {
    margin: 0 0.5rem 0;
    color: #fff;
    font-weight: 400;
    text-align: right;
    font-size: .9rem;
}

.pokemon #name {
    color: #fff;
    margin: 0 0 0 1rem;
    text-transform: capitalize;
}

.pokemon .detail {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 95;
}

.pokemon .types {
    padding: 0;
    margin: 0 0 1rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    grid-template-columns: 3fr;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    z-index: 100;
}

.pokemon .detail .types .type {
    filter: brightness(1.1);
    padding: .25rem 1.5rem;
    margin: .25rem auto;
    border-radius: 1rem;
}

.pokemon .detail img {
    margin: -50px auto;
    display: flex;
    justify-self: center;
    max-width: 280px;
    align-self: center;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    z-index: 96;
}

.back {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.back button {
    background-color: transparent;
    border: none;
    border-radius: 1rem;
    color: #fff;
    padding: .5rem 1rem;
    margin: 1rem 0 0 1rem;
    font-size: 2rem;
}

.back button:hover {
    background-color: #FFFFFF30;
    cursor: pointer;
    color: #fff;
}

.back button:hover>span {
    color: #fff;
}

.back button span {
    font-size: 1rem;
    color: transparent;
    position: relative;
}

.details {
    box-sizing: border-box;
    background-color: #FFF;
    padding: 1rem 0.1rem 0 0.1rem;
    margin: 0px;
    width: 100%;
    min-height: 300px;
    left: 0px;
    top: -80px;
    position: relative;
    border-radius: 2rem;
    align-items: stretch;
}

.detailsButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detailsButtons button {
    height: 3rem;
    width: 20vw;
    max-width: 7rem;
    margin: 0 auto;
    border: none;
    background: transparent;
    border-bottom: 2px solid #888;
}

.detailsButtons button:hover {
    cursor: pointer;
}

#aboutButton {
    background-color: #DDD;
    font-weight: bold;
}

#about {
    display: block;
}

#base {
    display: none;
}

#evolution {
    display: none;
}

#moves {
    display: none;
}

.detailList {
    list-style: none;
    font-weight: bold;
    line-height: 2rem;
    padding: 0 1.5rem;
    height: 100%;
}

.detailList .detaillabel {
    color: #999;
}

.detailList .detailValue {
    position: absolute;
    left: 10rem;
}

.detailData {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.detaillabel{
    min-width: 70px;
}

#base .detailValue {
    display: contents;
    position: relative;
    align-self: left;
}

.bar {    
    display: grid;
    position: relative;    
    background-color: #DDD;
    height: 5px;    
    width: 100%;
    margin-left: 10px;
}

#hpBar {
    background-color: #0F0;
    height: 5px;
    width: 0%;
}

#atkBar {
    background-color: #0F0;
    height: 5px;
    width: 0%;
}

#defBar {
    background-color: #0F0;
    height: 5px;
    width: 0%;
}

#spaBar {
    background-color: #0F0;
    height: 5px;
    width: 0%;
}

#spdBar {
    background-color: #0F0;
    height: 5px;
    width: 0%;
}

#speedBar {
    background-color: #0F0;
    height: 5px;
    width: 0%;
}

#totalBar {
    background-color: #0F0;
    height: 5px;
    width: 0%;
}

@media screen and (min-width: 380px) {
    .pokemons {
        max-width: 576px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        max-width: 576px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .content {
        max-width: 600px;
        height: 450px;
        margin: 1rem auto;
    }

    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}